/* ----------

- Grid CSS

---------- */

/* ---------- Rows */

.container {
	position: relative;
	max-width: 1170px;
	padding: 0 10px;
	margin: 0 auto;
	height: 100%;
}
	
.container:after {
	content: '';
  	display: table;
  	clear: both;
}
	
/* ---------- // ---------- */	
	
/* ---------- Columns */

.grid-1, .grid-2, .grid-3, .grid-4,
.grid-5, .grid-6, .grid-7, .grid-8,
.grid-9, .grid-10, .grid-11, .grid-12 {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	float: left;
	padding: 0 10px;
	}

.grid-1 {
	width: 8.33%;
	}
	
.grid-2 {
	width: 16.66%;
	}
	
.grid-3 {
	width: 25%;
	}
	
.grid-4 {
	width: 33.33%;
	}
	
.grid-5 {
	width: 41.66%;
	}
	
.grid-6 {
	width: 50%;
	}
	
.grid-7 {
	width: 58.33%;
	}
	
.grid-8 {
	width: 66.66%;
	}
	
.grid-9 {
	width: 75%;
	}
	
.grid-10 {
	width: 83.33%;
	}
	
.grid-11 {
	width: 91.66%;
	}
	
.grid-12 {
	width: 100%;
	}
	
/* ---------- Offset Columns */
	
.offset-1 {
	margin-left: 8.33%;
	}
	
.offset-2 {
	margin-left: 16.66%;
	}
	
.offset-3 {
	margin-left: 25%;
	}
	
.offset-4 {
	margin-left: 33.33%;
	}
	
.offset-5 {
	margin-left: 41.66%;
	}
	
.offset-6 {
	margin-left: 50%;
	}
	
.offset-7 {
	margin-left: 58.33%;
	}
	
.offset-8 {
	margin-left: 66.66%;
	}
	
.offset-9 {
	margin-left: 75%;
	}
	
.offset-10 {
	margin-left: 83.33%;
	}
	
.offset-11 {
	margin-left: 91.66%;
	}
	
.offset-12 {
	margin-left: 100%;
	}
	
/* ---------- Inner Rows */

.container .container {
	margin-left: -10px;
	margin-right: -10px;
	padding: 0;
	height: auto;
	}
	
/* ---------- // ---------- */	
	
/* ---------- Mobile */

@media screen and (max-width: 640px) {

	.grid-1, .grid-2, .grid-3, .grid-4,
	.grid-5, .grid-6, .grid-7, .grid-8,
	.grid-9, .grid-10, .grid-11, .grid-12 {
		width: 100%;
		float: none;
		margin-left: 0; /* Remove Offset */
		}

}

/* ---------- // ---------- */